[submodule "magicseteditor"]
	path = magicseteditor
	url = https://github.com/mycard/magicseteditor.git
	branch = win32
[submodule "ygopro-images-raw"]
	path = ygopro-images-raw
	url = https://github.com/mycard/ygopro-images-raw.git
[submodule "ygopro-database"]
	path = ygopro-database
	url = https://github.com/mycard/ygopro-database.git
	branch = build
[submodule "ygopro-images"]
	path = ygopro-images
	url = https://github.com/mycard/ygopro-images.git
