[submodule "magicseteditor"]
	path = magicseteditor
	url = git@github.com:mycard/magicseteditor.git
	branch = win32
[submodule "ygopro-images-raw"]
	path = ygopro-images-raw
	url = git@github.com:mycard/ygopro-images-raw.git
	shallow = true
[submodule "ygopro-database"]
	path = ygopro-database
	url = git@github.com:mycard/ygopro-database.git
[submodule "ImgGen"]
	path = ImgGen
	url = git@github.com:mycard/ImgGen.git
