@charset "utf-8";
@import url("normalize.css");
@font-face
{
    font-family: "YGO菜菜";
    src: url('mse/fonts/YGO菜菜.TTF');
}

@font-face
{
    font-family: "Palatino Linotype";
    src: url('mse/fonts/PalatinoLinoType.ttf');
}
@font-face
{
    font-family: "BankGothic Md BT";
    src: url('mse/fonts/BankGothicMediumBT.ttf');
}

@font-face
{
    font-family: "DFHSGothic";
    src: url('mse/fonts/注音字体.ttf');
}
@font-face
{
    font-family: "MatrixBoldSmallCaps";
    src: url('mse/fonts/MatrixBoldSmallCaps.ttf');
}


.card {
    position: relative;
    width: 421px;
    height: 614px;
    background: url(mse/data/yugioh-standard.mse-style/card-slifer.png);
    background-size: 421px 614px;
}

.name {
    position: absolute;
    left: 40px;
    top: 40px;
    width: 296px;
    height: 35px;
    font-family: "YGO菜菜";
    font-size: 36px;
    color: black;
}

.attribute {
    position: absolute;
    left: 341px;
    top: 37px;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}
.attribute[data-attribute="water"]{background-image: url(mse/data/yugioh-caicai-levels.mse-symbol-font/水.png)}
.attribute[data-attribute="fire"]{background-image: url(mse/data/yugioh-caicai-levels.mse-symbol-font/炎.png)}
.attribute[data-attribute="dark"]{background-image: url(mse/data/yugioh-caicai-levels.mse-symbol-font/暗.png)}
.attribute[data-attribute="light"]{background-image: url(mse/data/yugioh-caicai-levels.mse-symbol-font/光.png)}
.attribute[data-attribute="earth"]{background-image: url(mse/data/yugioh-caicai-levels.mse-symbol-font/地.png)}
.attribute[data-attribute="wind"]{background-image: url(mse/data/yugioh-caicai-levels.mse-symbol-font/风.png)}
.attribute[data-attribute="divine"]{background-image: url(mse/data/yugioh-caicai-levels.mse-symbol-font/神.png)}

.level {
    position: absolute;
    /*left: 30.5px;*/
    right: 48px;
    top: 92px;
    height: 25px;
    background: url(mse/data/yugioh-caicai-levels.mse-symbol-font/star.png) repeat-x;
    background-size: 25px 25px;
}
.level[data-level="1"]{width: 40px}
.level[data-level="2"]{width: 60px}
.level[data-level="3"]{width: 80px}
.level[data-level="4"]{width: 100px}
.level[data-level="5"]{width: 100px}
.level[data-level="6"]{width: 120px}
.level[data-level="7"]{width: 140px}
.level[data-level="8"]{width: 160px}
.level[data-level="9"]{width: 180px}
.level[data-level="10"]{width: 200px}
.level[data-level="11"]{width: 220px}
.level[data-level="12"]{width: 240px}

.image {
    position: absolute;
    left: 59.5px;
    top: 132px;
    width: 302px;
    height: 306px;
}

.monster_type {
    position: absolute;
    left: 34px;
    top: 472px;
    height: 15px;
    font-family: "YGO菜菜";
    tab-size: 10.6px;
}

.number {
    position: absolute;
    left: 237px;
    top: 442px;
    width: 134px;
    height: 18px;
    font-family: "Palatino Linotype";
    size: 2px;
    text-align: right;
}

.edition {
    position: absolute;
    left: 50px;
    top: 446px;
    width: 200px;
    height: 24px;
    font-family: "BankGothic Md BT";
    font-size: 15px;
}

.rule_text {
    position: absolute;
    left: 44px;
    top: 488px;
    width: 338px;
    height: 69px;
    font-family: "YGO菜菜";
    font-size: 6px;
}

.gamecode {
    position: absolute;
    left: 21px;
    top: 581px;
    width: 112px;
    height: 20px;
    font-family: "Palatino Linotype";
    font-size: 5px;
}

.rarity2 {
    position: relative;
    left: 387px;
    top: 578px;
    height: 21px;
    width: 21px;
    background: url(mse/data/yugioh-caicai-levels.mse-symbol-font/暗防伪.png);
}

.copyright {
    position: absolute;
    left: 204px;
    top: 584px;
    width: 269px;
    height: 22px;
    font-family: "DFHSGothic";
    font-size: 8px;
}
.hr {    
position: absolute;   
 left: 48px;    
 top: 550px;  
 width: 326px; 
 height: 1px;   
 border: none;   
 background-color: #000000;
 }
.atk_title {
    position: absolute;
    left: 220px;
    top: 558px;
}
.atk {
    position: absolute;
    left: 222px;
    top: 560px;
    width: 70px;
    height: 21px;
    text-align: right;
    font-family: "MatrixBoldSmallCaps";
    font-size: 16px;
}

.def_title {
    position: absolute;
    left: 304px;
    top: 558px;
}

.def {
    position: absolute;
    left: 306px;
    top: 560px;
    width: 70px;
    height: 21px;
    text-align: right;
    font-family: "MatrixBoldSmallCaps";
    font-size: 16px;
}
